@import "../../App";
$object: 'dividing-line';

.#{$object} {
  width: 100%;
  max-width: $max-width;
  margin: auto;
  height: 2px;
  background: $primary-accent;

  &--full {
    width: 100%;
    max-width: unset;
  }
}
